# fbt build artifacts
flipperzero-firmware/build/
flipperzero-firmware/dist/
flipperzero-firmware/toolchain/

# Local tools
.venv/
.vscode/

# Distribution output
dist/

# Test binary
test/test_bambu
